<h1>Listing events</h1>

<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Startdate</th>
			<th>Enddate</th>
			<th>Starttime</th>
			<th>Endtime</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>

<% @events.each do |event| %>
  <tr>
    <td><%= event.title %></td>
    <td><%= event.startdate %></td>
    <td><%= event.enddate %></td>
    <td><%= event.starttime %></td>
    <td><%= event.endtime %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
