<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @venue.name %>
</p>

<p>
  <b>Address1:</b>
  <%= @venue.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @venue.address2 %>
</p>

<p>
  <b>City:</b>
  <%= @venue.city %>
</p>

<p>
  <b>County:</b>
  <%= @venue.county %>
</p>

<p>
  <b>Postcode:</b>
  <%= @venue.postcode %>
</p>

<p>
  <b>Telno:</b>
  <%= @venue.telno %>
</p>

<p>
  <b>Faxno:</b>
  <%= @venue.faxno %>
</p>

<p>
  <b>Email:</b>
  <%= @venue.email %>
</p>

<p>
  <b>Website:</b>
  <%= @venue.website %>
</p>

<p>
  <b>Contact:</b>
  <%= @venue.contact %>
</p>


<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
